* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
}

.heading {
  font-size: 5rem;
  color: white;
  text-align: center;
}

.line {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.ball {
  width: 180px;
  height: 180px;
  position: absolute;
  background-color: rebeccapurple;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -10px);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px pink;
  transition: transform 0.7s ease;
  color: white;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tap {
  width: 90px;
  height: 90px;
  position: absolute;
  background-color: rebeccapurple;
  bottom: -1%;
  left: 100%;
  transform: translate(-150%, -30px);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px pink;
  font-size: 3rem;
  text-align: center;
  color: white;
  cursor: pointer;
}
.backBtn {
  position: fixed; /* stays in place even when scrolling */
  top: 10px; /* distance from the top */
  left: 10px; /* distance from the left */
  background-color: rebeccapurple;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
